<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <app-dashcard [dashData]="dash">

        </app-dashcard>
    </div>
</div>
<!-- <div fxLayout="row" fxLayout="row wrap">
    <app-bar-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></app-bar-graph>
    <app-doughnut-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></app-doughnut-graph>
    <app-weather fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="100"></app-weather>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <app-line-graph fxFlex="75" fxFlex.lt-sm="100" fxFlex.sm="50"></app-line-graph>
    <app-share-price fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="50"></app-share-price>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <app-sales-list fxFlex="60" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="70"></app-sales-list>
    <app-profile-card fxFlex="40" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></app-profile-card>
</div>

<div fxLayout="row" fxLayout="row wrap">
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <app-round-progressbar [title]="'SALES'" [current]="'23'" [max]="'100'" [background]="'#FFF968'" [color]="'#B1A7FF'" [boxcolor]="'#7986CB'"></app-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <app-round-progressbar [title]="'LEADS'" [current]="'33'" [max]="'100'" [background]="'#FFE268'" [color]="'#A7C1FF'" [boxcolor]="'#42A5F5'"></app-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <app-round-progressbar [title]="'ASSETS'" [current]="'78'" [max]="'100'" [background]="'#FFC368'" [color]="'#A7F0FF'" [boxcolor]="'#26A69A'"></app-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <app-round-progressbar [title]="'BANKING'" [current]="'90'" [max]="'100'" [background]="'#FFCF68'" [color]="'#A7DEFF'" [boxcolor]="'#26C6DA'"></app-round-progressbar>
    </div>
</div>

<div fxLayout="row" fxLayout="row wrap" >
    <app-world-map fxFlex="100" [tableData]="tableData"></app-world-map>
</div> -->
